<div class="featured">
    <div class='left-column'>
        <h2>{{ counter.title }}</h2>
        <p>{{ counter.description }}</p>
    </div>
    <div class="vert-div"></div>
    <div class="right-column">
        <div class="days counter">
            <h3>Days</h3>
            <span>{{ counter.days }}</span>
        </div>
        <div class="vert-div"></div>
        <div class="hours counter">
            <h3>Hours</h3>
            <span>{{ counter.hours }}</span>
        </div>
        <span class="colon">:</span>
        <div class="minutes counter">
            <h3>Minutes</h3>
            <span>{{ counter.minutes }}</span>
        </div>
        <span class="colon">:</span>
        <div class="seconds counter">
            <h3>Seconds</h3>
            <span>{{ counter.seconds }}</span>
        </div>
    </div>
</div>
<div class="horiz-div"></div>
