<div class="counter-large counter">
    <div class='left-column'>
        <h2>{{ counter.title }}</h2>
        <p>{{ counter.description }}</p>
    </div>
    <div class="vert-div"></div>
    <div class="right-column">
        <div class="days number">
            <h3>Days</h3>
            <span class="value">{{ counter.days }}</span>
        </div>
        <div class="vert-div"></div>
        <div class="hours number">
            <h3>Hours</h3>
            <span class="value">{{ counter.hours }}</span>
        </div>
        <span class="colon">:</span>
        <div class="minutes number">
            <h3>Minutes</h3>
            <span class="value">{{ counter.minutes }}</span>
        </div>
        <span class="colon">:</span>
        <div class="seconds number">
            <h3>Seconds</h3>
            <span class="value">{{ counter.seconds }}</span>
        </div>
    </div>
</div>
<div class="horiz-div"></div>
